@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");

:root {
  --primary-color: #6441a5;
  --primary-color-shadow: rgba(100, 65, 165, 0.08);
  --black-color: #343434;
  --black-text-color: rgba(52, 52, 52, 0.87);
  --low-contrast-color: rgba(52, 52, 52, 0.5);
  --white-color: #ffffff;
  --background-color: #fafafa;
}

*,
html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
  font-family: "Montserrat", sans-serif;
  color: var(--black-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: var(--black-color);
  font-size: 32px;
  font-weight: bold;
}

h2 {
  color: var(--black-text-color);
  font-size: 22px;
  font-weight: 600;
}

.fullWidth {
  width: 100%;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.flex-center {
  justify-content: center;
}

/* SEARCH SECTION */
.searchSectionContainer {
  margin: 60px 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searchForm {
  background-color: transparent;
  width: 35%;
  margin-bottom: 30px;
  padding: 16px 40px 16px 30px;
  align-items: center;
  border-radius: 500px;
  transition: box-shadow 350ms ease-in;
  transition: background-color 250ms linear;
}

#searchForm:focus-within {
  box-shadow: 0px 4px 16px 0px var(--primary-color-shadow);
  background-color: var(--white-color);
}

#searchField {
  background-color: transparent;
  width: 100%;
  border: none;
  color: var(--black-color);
  font-size: 18px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

#searchIcon {
  transition: transform 1000ms linear;
}

#searchIcon:active {
  transform: scale(4);
}

.filters {
  display: flex;
  flex-direction: row;
}

.filter {
  margin: 0 10px;
  padding: 10px 40px;
  color: var(--white-color);
  background-color: var(--low-contrast-color);
  border-radius: 500px;
  cursor: pointer;
}

.filter-active {
  background-color: var(--primary-color);
}

/* GAMES SECTION */
.games-section {
  margin: 0 100px;
}

.list-wrapper {
}

.streams-list {
  margin-top: 20px;
  justify-content: space-between;
}

.list-element {
  width: 23%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-element-inner {
  position: relative;
  margin-bottom: 10px;
}

.list-element-image {
  background-color: var(--low-contrast-color);
  width: 100%;
  height: 150px;
}

.list-element-counter {
  position: absolute;
  padding: 10px 16px;
  bottom: 0;
  right: 0;
  background-color: var(--low-contrast-color);
  color: var(--white-color);
}
