@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");

:root {
  --primary-color: #6441a5;
  --black-color: #343434;
  --low-contrast-color: #34343450;
  --white-color: #ffffff;
}

*,
html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--black-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fullWidth {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.searchSectionContainer {
  margin: 60px 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searchForm {
  width: 35%;
  margin-bottom: 30px;
  align-items: center;
}

#searchField {
  width: 100%;
  text-align: center;
  border: none;
  color: var(--black-color);
  font-size: 28px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

#searchIcon {
  padding: 10px;
  border-radius: 500px;
}

#searchIcon:hover {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 16px 0px rgba(52, 52, 52, 0.08);
}

#searchIcon:active {
  box-shadow: none;
}

.filters {
  display: flex;
  flex-direction: row;
}

.filter {
  margin: 0 10px;
  padding: 10px 40px;
  color: var(--white-color);
  background-color: var(--low-contrast-color);
  border-radius: 500px;
  cursor: pointer;
}

.filter-active {
  background-color: var(--primary-color);
}
