@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");

:root {
  --primary-color: #6441a5;
  --primary-color-shadow: rgba(100, 65, 165, 0.08);
  --primary-accent-color: #894aff;
  --primary-accent-shadow: rgba(137, 74, 255, 0.1);
  --black-color: #343434;
  --light-gray-color: #f0f0f0;
  --black-text-color: rgba(52, 52, 52, 0.87);
  --low-contrast-color: rgba(52, 52, 52, 0.5);
  --white-color: #ffffff;
  --background-color: #fdfdfd;
  --light-gray-shadow: rgba(240, 240, 240, 0.1);
  --accent-color: rgb(233, 25, 23);
  --error-background-color: rgb(248, 215, 218);
}

::selection {
  background-color: var(--accent-color);
  color: var(--white-color);
}

div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*,
html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
  font-family: "Montserrat", sans-serif;
  color: var(--black-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  /* color: var(--black-color); */
  color: var(--primary-accent-color);
  font-size: 32px;
  font-weight: bold;
}

h2 {
  color: var(--black-text-color);
  font-size: 22px;
  font-weight: 600;
}

h3 {
  color: var(--black-text-color);
  font-size: 18px;
  font-weight: 400;
}

h4 {
  color: var(--black-text-color);
  font-size: 16px;
  font-weight: 400;
}

.fullWidth {
  width: 100%;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.flex-center {
  justify-content: center;
}

.center {
  justify-content: center;
}

.middle {
  align-items: center;
}

/* SEARCH SECTION */
.searchSectionContainer {
  margin: 60px 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searchForm {
  background-color: transparent;
  width: 35%;
  margin-bottom: 30px;
  padding: 16px 40px 16px 30px;
  align-items: center;
  border-radius: 500px;
  transition: box-shadow 350ms ease-in;
  transition: background-color 250ms linear;
}

#searchForm:focus-within {
  box-shadow: 0px 4px 16px 0px var(--primary-color-shadow);
  background-color: var(--white-color);
}

#searchField {
  background-color: transparent;
  width: 100%;
  border: none;
  color: var(--black-color);
  font-size: 18px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

#searchIcon {
  transition: transform 1000ms linear;
}

#searchIcon:active {
  transform: scale(4);
}

.filters {
  display: flex;
  flex-direction: row;
}

.filter {
  margin: 0 10px;
  padding: 12px 30px;
  color: var(--black-text-color);
  background-color: var(--light-gray-color);
  border-radius: 500px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 10px 0px var(--light-gray-color);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  transition: transform 100ms ease;
}

.filter:active {
  transform: scale(1.03);
}

.filter-active {
  color: var(--white-color);
  background-color: var(--primary-accent-color);
  box-shadow: 0px 4px 10px 0px var(--primary-accent-shadow);
}

/* GAMES SECTION */
.games-section {
  margin: 0 100px;
}

.list-wrapper {
  margin-bottom: 50px;
}

.streams-list {
  margin-top: 20px;
  overflow-x: scroll;
  overflow-y: visible;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.streams-list::-webkit-scrollbar {
  display: none;
}

.list-element {
  box-shadow: 0px 4px 10px 0px var(--light-gray-color);
  background-color: var(--light-gray-color);
  border-radius: 10px;
  width: 300px;
  margin-right: 40px;
}

.list-element:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.list-element-image {
  background-color: var(--low-contrast-color);
  border-radius: 10px;
  width: 300px;
  height: 150px;
}

.list-element-info {
  padding: 10px;
}

.list-element-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-element-counter {
  color: var(--black-text-color);
}

.list-element-info-inner {
  margin-top: 4px;
  justify-content: space-between;
  align-items: baseline;
}

.list-element-counter {
  font-weight: 600;
  color: var(--accent-color);
}

.game-not-found {
  justify-content: space-between;
  align-items: center;
  background-color: var(--error-background-color);
  color: var(--accent-color);
  font-weight: 600;
  font-size: 18px;
  padding: 14px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* GAMES LOADING */
.games-loading {
  height: 100%;
  margin: 100px 0;
}
